/* Eléments principaux de la page */

/*body {

  background-color: black;
  font-family: Helvetica;
  color: #878f99;
  font-size: 25px;
  border: 200px;
  border-color: white;
  

}*/

body {

  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #0f0e0e;
  margin: 0;
  background-image: url(./title.jpg)
  
}







#titre_principal {

  background-size: 550px;
}


section h1,
footer h1{
  font-family: Dayrom, serif;
  font-weight: normal;
  text-transform: uppercase;
  transition: .5s;
}



nav a {
  font-family: Dayrom, serif;
  font-weight: normal;
  text-transform: uppercase;
  transition: .5s;
}



h1 {
  font-style: italic;
 
  font-family: Cottonwood, "FB Reactor", fantasy;
  ;
  font-size: 2em;
  font-weight: bold;
  color: rgb(9, 9, 9);
  padding: 20px;
  
}


header h2 {
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}

#auteur_img {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

/* Navigation */

nav {
  font-size: 15px;
  background: #898888;
  margin:0 auto;
  padding-left:0 10px;
  

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  
  



}

nav li {
  margin: 5px;
}

nav a {
  font-size: 1.3em;
  color: rgb(238, 238, 238);
  padding-bottom: 3px;
  text-decoration: none;
}
  nav  a:hover:first-child { 
    background: #131212;
}






/****************************** Bannière utilisation ultèrieure***********************************/

/* 
#banniere_image {
  margin-top: 15px;
  text-align: left;
  height: 300px;
  max-width: auto;
  border-radius: 5px;
  background: url('./kadea.jpg') no-repeat;
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 30px;
}


#banniere_description {

  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 20px;
  padding-top: 15px;
  padding-left: 15px;
  background-color: rgb(24, 24, 24);  
}

.bouton_rouge {
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: url('images/fond_degraderouge.png') repeat-x;
  border: 1px solid #760001;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 3px 8px 0px 8px;
  color: white;
  text-decoration: none;
}

.bouton_rouge img {
  border: 0;
}
*****************************************************************************************************/


/* Corps */

section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  
  
 
}


article p {
  font-size: 0.8em;
}

article{
  color: white;
}
aside {
  
 
  background-color: white;
  box-shadow: 0px 15px 150px white;
  border-radius: 5px 80px 5px 80px;
  padding: 20px;
  margin: 10px;
  color: black;
  font-size: 0.7em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', Arial, sans-serif;
}



#photo_auteur {
  text-align: center;
  max-height: 10%x;
  max-width: 1%x;
}

#photo_auteur img {
  border: 1px solid #181818;
}

aside img {
  margin-right: 5px;
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  padding-top: 25px;
}

footer p, footer ul {
  font-size: 0.8em;
}

footer h1 {
  font-size: 1.1em;
  text-align: center;
}

#mes_realisation {
  margin: auto;
  display: inline;
  vertical-align: top;
}



#mes_realisation h1 {
  text-decoration: underline;
}

#mes_realisation a {
  text-decoration: none;
  font-weight: bold;
  color: #e98812;
  transition: 2s;
}

#mes_realisation a:hover{
  color: #760001;
  border-bottom: 3px solid #760001;
}

